@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mediaquery" as *;
@use "../../styles/partials/fonts" as *;

.pos-container {
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
    position: relative;
  }
}

.pos {
  &__categories-selection {
    @include desktop {
      position: absolute;
      top: 4.3rem;
      left: 17rem;
      background-color: #d2b48c;
    }

    &__category {
      @include desktop {
        font-family: $roboto;
        font-weight: 300;
        font-size: 1.2rem;
        color: $koffeepos-darkmocha;
        padding: 0.7rem 1rem;

        &:hover {
          background-color: $koffeepos-beige;
        }
      }
    }
  }
  &__monitor {
    @include desktop {
      position: absolute;
      top: 8.5rem;
      left: 17rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__product {
      @include desktop {
        margin: 0.9rem;
      }

      img {
        @include desktop {
          height: 132px;
          width: 198px;
          object-fit: cover;
        }
      }
    }
  }

  &__cart {
    @include desktop {
      position: absolute;
      top: 3.4rem;
      left: 64rem;
      background-color: #333;
    }
  }
}
