@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mediaquery" as *;
@use "../../styles/partials/fonts" as *;

.summarytable__monitor {
  @include desktop {
    position: absolute;
    top: 6rem;
    left: 16rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
