@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mediaquery" as *;
@use "../../styles/partials/fonts" as *;

.ingredients-table {
  position: absolute;
  @include tablet {
    top: 3.4rem;
    left: 16rem;
    max-height: 670px;
    max-width: 800px;
  }

  @media (min-width: 1024px) {
    min-width: 770px;
  }

  @include desktop {
    position: absolute;
    top: 53px;
    left: 290px;
    min-width: 960px;
    max-height: 670px;
  }

  @media (min-width: 1440px) {
    min-width: 1110px;
  }

  @media (min-width: 1920px) {
    min-width: 1599px;
  }
}

.table-cont {
  // without this, there would be a weird blk box if u dont put max 425px on tab and desktop design
  @media (max-width: 425px) {
    display: none;
  }
  @include tablet {
    min-width: 300px;
  }

  @include desktop {
    min-width: 800px;
  }
}

.table-cont-mobile {
  width: 100vw;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}
